@import 'assets/scss/main';

.test-card {
  &__header.v-card-title {
    align-items: center;
  }

  &__title {
    max-width: 280px;
    text-wrap: balance;

    @include media-sm-up {
      max-width: none;
    }
  }

  &__date {
    color: #959595;
  }

  &__state {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
  }

  &__name {
    font-size: 18px;
    font-weight: 600;
    vertical-align: middle;
  }

  &__actions.v-card-actions {
    flex-wrap: wrap;
    padding-top: 0;
    padding-inline: 24px;
  }
}
