// colors
$color-dark: #242424;
$color-white: #fff;
$color-gray: #495057;
$color-secondary: #f3f4f6;
$color-success: #299f29;

// breakpoints
$media-xs: 360px;
$media-sm: 576px;
$media-md: 992px;
$media-lg: 1200px;
$media-xl: 1600px;
$media-xxl: 2000px;

// indents
$content-indent: 24px;
