@use 'sass:color';
@import 'variables';
@import 'media';

html,
body {
  margin: 0;
  padding: 0;
}

.content {
  margin-block: $content-indent;
}

.container {
  padding-inline: 24px;

  @include media-sm-up {
    max-width: 1280px;
    margin: 0 auto;
  }
}

a {
  text-decoration: none;
}

.v-card-title {
  display: flex !important;
  justify-content: space-between !important;
  padding: 18px 24px !important;
}
