.home-page {
  &__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  &__description {
    margin-top: 24px;
    line-height: 150%;
  }

  &__options {
    margin-top: 24px;
    display: flex;
    gap: 12px;
  }

  &__results-title {
    margin-top: 48px;
  }

  &__results {
    margin-top: 12px;
  }
}
