@use 'sass:color';
@import 'assets/scss/main';

.ls-button {
  border: 0;
  background: none;
  padding: 0 48px;
  height: 52px;
  border-radius: 12px;
  appearance: none;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.4s ease;

  &:is(a) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &.is-accent {
    background-color: $color-dark;
    color: $color-secondary;

    &:hover {
      background-color: color.scale($color-dark, $lightness: -50%);
    }

    .ls-button__append {
      color: color.scale($color-gray, $lightness: 60%);
    }
  }

  &.is-secondary {
    background-color: $color-secondary;
    color: $color-dark;

    &:hover {
      background-color: color.scale($color-secondary, $lightness: 20%);
    }

    .ls-button__append {
      color: $color-gray;
    }
  }

  &__append {
    display: block;
    width: 100%;
    font-size: 12px;
  }
}
